{% extends 'base.html' %}
{% load static %}
 {% block content %}



  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">സ്കീമുകൾ </h1><br>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">നിലവിലുള്ള സ്കീമുകൾ </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>schemename</th>
                      <th>Date Of Published</th>
                      <th>Valid Up To</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    
                    <tr>
                      <td>സുഭിക്ഷ കേരളം </td>
                      <td>28/10/2020</td>
                      <td>01/01/2021</td>
                      <td><button class="btn btn-success">അഭ്യർത്ഥന</button></td>
                    </tr>
                    <tr>
                      <td>നിർമാണ പ്രവത്തനങ്ങൾ  </td>
                      <td>28/10/2020</td>
                      <td>01/01/2021</td>
                      <td><button class="btn btn-success">അഭ്യർത്ഥന</button></td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {% endblock %}
     